body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

#contact-options {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(245, 249, 246);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

.hero {
    background: #4CAF50;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    margin: 20px;
}

.title {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.contact-info, .contact-form, .map {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
   
}

.contact-form button {
    background: #1a7c1d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #b86b12;
}

.map iframe {
    width: 100%;
    border-radius: 8px;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    .contact-info, 
    .contact-form, 
    .map {
        margin: 10px; /* Reduce margins on smaller screens */
    }

    .contact-form input, 
    .contact-form textarea {
        margin-left: 0; /* Remove left margin on smaller screens */
    }

    .contact-form button {
        margin-left: 0; /* Remove left margin on smaller screens */
    }
}