body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

/* .hero {
    /* background: #7e817f;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    margin: 20px; */
/* } */  /* to add background design similarly as below content. Keep it for future in case I might us for changes..*/

.our-story, .our-goals, .meet-the-team {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}


.our-goals ul {
    padding-left: 0;
    list-style-type: none;
}

[data-aos] {
    opacity: 1 !important;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.team-member:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
