/* css/style.css */
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
background-color:#f4f4f4;
padding: 10px;
}

main {
    padding: 20px;
    margin-top: 30px;
}

footer {
    padding: 20px;
}

#main-menu {
    margin-top: 10px;
    margin-left:0px;
}

#content {
    padding: 20px;
}