/* ======= General Page Styling ======= */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.title {
  background-color: #efefe4;
  width: 100%;
  margin: 0;
}

.title h2, p {
  padding: 10px;
}

.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rule {
  width: 32%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.rule img {
  width: 100%;
}

@media (max-width: 768px) {
  .rule {
      width: 48%;
  }
}

@media (max-width: 576px) {
  .rule {
      width: 100%;
  }
}

h1 {
  padding-left: 10px;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

/* ======= Start Quiz Button ======= */
.start-quiz-btn {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
}

.start-quiz-btn:hover {
  background-color: #3e8e41;
}

/* ======= Quiz Popup ======= */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  /* position: relative; */
}

/* Question Styles */
#quizQuestion {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#quizOptions label {
  display: block;
  padding: 10px;
  background-color: #f3f3f3;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

#quizOptions input {
  display: none;
}

#quizOptions label:hover {
  background-color: #ddd;
}

/* ======= Buttons ======= */
.next-btn, .close-button, .replay-button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

/* Button Colors */
.next-btn {
  background-color: #4CAF50;
  color: white;
}

.close-button {
  background-color: #b74f0a;
  color: white;
}

.replay-button {
  background-color: #067029;
  color: white;
}

/* Hover Effects */
.next-btn:hover {
  background-color: #2e7d32;
}

.close-button:hover {
  background-color: #9a3d08;
}

.replay-button:hover {
  background-color: #3e8e41;
}

/* ======= Result Popup ======= */
#quizResultPopup {
  display: none;
}