/* css/style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
background-color:white;
padding: 10px;
}

nav {
    background-color: #035914;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; 
    display: flex;
}

nav li {
    /* display: inline-block; To make list items horizontal */
    margin-right: 20px;
    position: relative; /* For dropdown positioning */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav .hamburger {
    display: none;
    cursor: pointer;
}

nav .search-bar {
    display: flex;
}

nav .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
}

nav .search-bar button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

nav a:hover {
    background-color: #002b0a;
}

.dropdown {
    display: none; /* Hide the dropdown initially */
    position: absolute;
    background-color:#035914;
    z-index: 1; /* To Ensure it's on top */
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdown li {
    display: block; /* Stack dropdown items vertically */
    margin: 0; /* Remove default list item margins */

}
.dropdown a {
    padding: 12px 16px;
    display: block; /* Make the entire list item clickable */
    text-align: left; /* Align text to the left */
}

nav li:hover .dropdown {
    display: block; /* Show the dropdown on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav .hamburger {
        display: block;
    }

    nav .search-bar {
        margin-top: 10px;
    }
}
